{% extends "base.html" %}
{% block title %} Dashboard
{% endblock %}
{% block content %}

<!-- Analysis Variances -->
<section class="pt-4">
    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <div class="card">
                    <div id="analysisVariancesGeneralDiv" class="card-body text-center table-responsive">
                        <h5 class="card-title text-start">Analisi degli scostamenti generale</h5>
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Caricamento dati...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-2 g-4 pt-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body pb-1">
                        <h5 class="card-title">Comparazione dati analisi generale</h5>
                        <div id="chartAnalysisVariancesGeneral" style="height: 30vmax; max-height: 25rem"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Comparazione dati per market</h5>
                        <div id="chartAnalysisVariancesMarket" style="height: 30vmax; max-height: 25rem"></div>
                        <button type="button" class="btn btn-primary d-flex me-0 ms-auto" data-mdb-toggle="modal"
                            data-mdb-target="#modalAnalysisVariancesMarket">
                            Mostra dati divisi per market<i class="fas fa-arrow-right align-self-center ps-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xl-2 g-4 pt-4">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body table-responsive pb-1" id="tableExchangeRate">
                        <h5 class="card-title">Comparazione vendite con valuta a consuntivo</h5>
                        <table class="table align-middle mb-0 bg-white" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Δ</th>
                                    <th scope="col">Consuntivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Quantità</th>
                                    <td>{{ analysis["BUDGET"]["quantity"] }}</td>
                                    <td>{{ analysis["CONSUNTIVO"]["quantity"] - analysis["BUDGET"]["quantity"] }}
                                    </td>
                                    <td>{{ analysis["CONSUNTIVO"]["quantity"] }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ricavi</th>
                                    <td name="toRound">{{ analysis["BUDGET"]["unitPrice"] }}</td>
                                    <td name="toRound">{{ analysis["CONSUNTIVO"]["unitPrice"] -
                                        analysis["BUDGET"]["unitPrice"]
                                        }}</td>
                                    <td name="toRound">{{ analysis["CONSUNTIVO"]["unitPrice"] }}</td>
                                </tr>
                            </tbody>
                        </table>

                        <h5 class="card-title pt-4">Comparazione tassi di cambio</h5>
                        <table class="table align-middle mb-0 bg-white" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Valuta</th>
                                    <th scope="col">Budget</th>
                                    <th scope="col">Δ</th>
                                    <th scope="col">Consuntivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% with currencyName = ["Euro", "Dollaro", "Yen"] %}
                                {% for currency in currencies %}
                                <tr>
                                    <th scope="row">{{ currencyName[currency["currencyCode"] - 1] }}</th>
                                    <td name="toRound">{{ currency["tassoBudget"] }}</td>
                                    <td name="toRound">{{ currency["tassoConsuntivo"] -
                                        currency["tassoBudget"] }}
                                    </td>
                                    <td name="toRound">{{ currency["tassoConsuntivo"] }}</td>
                                </tr>
                                {% endfor %}
                                {% endwith %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Scostamento costo orario risorse</h5>
                        <table id="variancesVariableCostsTable" class="table align-middle mb-0 bg-white"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Costo orario a <b>budget</b></th>
                                    <th>Costo orario a <b>consuntivo</b></th>
                                    <th>Scostamento</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Article section -->
<section class="pt-4">
    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Analisi articoli</h5>
                        <!-- Article table -->
                        <table id="articlesTable" class="table align-middle mb-0 bg-white" style="width:100%">
                            <thead class="bg-light sticky-top shadow-2">
                                <tr>
                                    <th>Articolo</th>
                                    <th>MOL budget <span class="text-muted">€</span></th>
                                    <th>MOL consuntivo <span class="text-muted">€</span></th>
                                    <th>Scostamento <span class="text-muted">€</span></th>
                                    <th>Dettagli</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in articles %}
                                <tr>
                                    <td>
                                        {{ article["id"] }}
                                    </td>
                                    <td>
                                        {{ article["analysisVariances"]["Mol"]["BUDGET"] }}
                                    </td>
                                    <td>
                                        {{ article["analysisVariances"]["Mol"]["CONSUNTIVO"] }}
                                    </td>
                                    <td>
                                        {{ (article["analysisVariances"]["Mol"]["CONSUNTIVO"] -
                                        article["analysisVariances"]["Mol"]["BUDGET"]) }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" aria-id="{{ article['id'] }}"
                                            onclick="buildModalArticle(this)"><i
                                                class="fas fa-arrow-right"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal for article -->
<div class="modal fade" id="modalArticle" tabindex="-1" aria-labelledby="modalArticle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Articolo <span id="idArticle"></span></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for analysis variances market -->
<div class="modal fade" id="modalAnalysisVariancesMarket" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Analisi degli scostamenti per market</span></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<!-- template analysis variances table -->
<template id="templateAnalysisVariances">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Budget</th>
            <th scope="col">Δ <small>volume</small></th>
            <th scope="col">Mix standard</th>
            <th scope="col">Δ <small>mix</small></th>
            <th scope="col">Mix effettivo</th>
            <th scope="col">Δ <small>prezzo</small></th>
            <th scope="col">Consuntivo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Quantità</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Ricavi</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Costi</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">MOL</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</template>

{% endblock %}

{% block custom_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"
    integrity="sha512-LYmkblt36DJsQPmCK+cK5A6Gp6uT7fLXQXAX0bMa763tf+DgiiH3+AwhcuGDAxM1SvlimjwKbkMPL3ZM1qLbag=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var barChartAnalysisVariancesGeneral;
    var treemapChartAnalysisVariancesMarket;

    document.addEventListener("DOMContentLoaded", () => {
        // Get data of general analysis variances
        getAnalysisVariancesGeneral();

        // Get data of general analysis variances
        getAnalysisVariancesMarket();

        // Round all data in tableExchangeRate
        document.getElementsByName("toRound").forEach(item => {
            item.innerHTML = formatNumber(+item.innerHTML, 3, 3)
        });

        // Initialize articles datatable
        $('#articlesTable').DataTable({
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/it-IT.json'
            },
            columnDefs: [{
                targets: [1, 2],
                render: $.fn.dataTable.render.number('.', ',', 2)
            },
            {
                targets: [3],
                render: function (data, type, row, meta) {
                    data = +data;
                    if (data >= 0) {
                        icon = "fa-caret-up";
                        color = "badge-success";
                    } else {
                        icon = "fa-caret-down";
                        color = "badge-danger";
                    }
                    return `<span class="badge ${color} rounded-pill d-inline">${formatNumber(+data, 2, 2)} <i class="fas ${icon}"></i></span>`;
                }
            }]

        });

        // Initialize Variable Costs datatable
        $('#variancesVariableCostsTable').DataTable({
            responsive: true,
            ajax: {
                url: `${window.location.origin}/resource`,
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'costoOrarioBudget' },
                { data: 'costoOrarioConsuntivo' },
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        data = ((row.costoOrarioConsuntivo - row.costoOrarioBudget) / row.costoOrarioBudget) * 100;
                        if (data < 0) {
                            icon = "fa-caret-down";
                            color = "badge-success";
                        } else {
                            icon = "fa-caret-up";
                            color = "badge-danger";
                        }
                        return `<span class="badge ${color} rounded-pill d-inline">${formatNumber(+data, 2, 2)}% <i class="fas ${icon}"></i></span>`;
                    }
                },
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/it-IT.json'
            },
        });

        // Initialize bar char
        barChartAnalysisVariancesGeneral = echarts.init(document.getElementById('chartAnalysisVariancesGeneral'));
        treemapChartAnalysisVariancesMarket = echarts.init(document.getElementById('chartAnalysisVariancesMarket'));
        barChartAnalysisVariancesGeneral.showLoading();
        treemapChartAnalysisVariancesMarket.showLoading();
        window.onresize = (event) => {
            barChartAnalysisVariancesGeneral.resize()
            treemapChartAnalysisVariancesMarket.resize()
        };
    });


    /**
    * Get data and build modal
    * 
    * @param {Int} idArticle ID article
    */
    async function buildModalArticle(e) {
        idArticle = e.getAttribute('aria-id');
        const modalArticle = document.getElementById('modalArticle');
        const jsonParams = ["Quantity", "RevenueCenter", "CostCenter", "Mol"];
        const bodyModal = modalArticle.getElementsByClassName("modal-body")[0];

        let response = await fetch(`${window.location.origin}/article/${idArticle}`)
            .then((e) => e.json())
            .then((e) => {
                // Prepare data
                Object.keys(e).forEach(key => {
                    // Reorder
                    e[key] = { BUDGET: 0, mixStandard: 0, mixEffettivo: 0, CONSUNTIVO: 0, ...e[key] };
                });
                return e;
            });
        modalArticle.querySelector('#idArticle').innerHTML = idArticle;

        bodyModal.innerHTML = "";

        let title = document.createElement("h5");
        title.textContent = "Analisi degli scostamenti";
        title.classList.add("mb-0")
        bodyModal.appendChild(title);

        let table = document.createElement("table");
        table.classList.add("text-end", "table", "pb-4");
        table.innerHTML = document.getElementById("templateAnalysisVariances").innerHTML;
        bodyModal.appendChild(table);

        for (let i = 0; i < jsonParams.length; i++) {
            let data = response.analysisVariances[jsonParams[i]];

            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.mixStandard - data.BUDGET);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.mixStandard);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(3).innerHTML = formatNumber(data.mixEffettivo - data.mixStandard);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(4).innerHTML = formatNumber(data.mixEffettivo);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(5).innerHTML = formatNumber(data.CONSUNTIVO - data.mixEffettivo);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(6).innerHTML = formatNumber(data.CONSUNTIVO);
        }

        title = document.createElement("h5");
        title.textContent = "Analisi produzione";
        title.classList.add("mb-0")
        bodyModal.appendChild(title);
        table = document.createElement("table");
        table.classList.add("text-end", "table", "pb-4");
        table.innerHTML = document.getElementById("templateAnalysisVariances").innerHTML;
        bodyModal.appendChild(table);

        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).innerHTML = "Budget"

        let data = response.costi

        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET.queryQuantity);
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.CONSUNTIVO.queryQuantity - data.BUDGET.queryQuantity);
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.CONSUNTIVO.queryQuantity);

        table.getElementsByTagName("tr").item(2).getElementsByTagName("th").item(0).innerHTML = "Costi unitari MP";
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET.costs.costsRawMaterial);
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.CONSUNTIVO.costs.costsRawMaterial - data.BUDGET.costs.costsRawMaterial);
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.CONSUNTIVO.costs.costsRawMaterial);

        table.getElementsByTagName("tr").item(3).getElementsByTagName("th").item(0).innerHTML = "Costi unitari risorse";
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET.costs.costsVariable);
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.CONSUNTIVO.costs.costsVariable - data.BUDGET.costs.costsVariable);
        table.getElementsByTagName("tr").item(3).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.CONSUNTIVO.costs.costsVariable);

        table.getElementsByTagName("tr").item(4).remove()

        title = document.createElement("h5");
        title.textContent = "Analisi vendite";
        title.classList.add("mb-0")
        bodyModal.appendChild(title);
        table = document.createElement("table");
        table.classList.add("text-end", "table", "pb-4");
        table.innerHTML = document.getElementById("templateAnalysisVariances").innerHTML;
        bodyModal.appendChild(table);

        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).remove();
        table.getElementsByTagName("th").item(1).innerHTML = "Budget"

        data = response.vendite

        data.BUDGET.quantitySales = data.BUDGET.percentageOutput * data.BUDGET.quantity
        data.CONSUNTIVO.quantitySales = data.CONSUNTIVO.percentageOutput * data.CONSUNTIVO.quantity
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET.quantitySales);
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.CONSUNTIVO.quantitySales - data.BUDGET.quantitySales);
        table.getElementsByTagName("tr").item(1).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.CONSUNTIVO.quantitySales);

        table.getElementsByTagName("tr").item(2).getElementsByTagName("th").item(0).innerHTML = "Prezzo unitario";
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET.unitPrice);
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).remove();
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.CONSUNTIVO.unitPrice - data.BUDGET.unitPrice);
        table.getElementsByTagName("tr").item(2).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.CONSUNTIVO.unitPrice);

        table.getElementsByTagName("tr").item(3).remove();
        table.getElementsByTagName("tr").item(3).remove();


        let modalObj = new mdb.Modal(modalArticle)
        modalObj.show();
    }

    /**
    * Get analyses variances
    */
    async function getAnalysisVariancesGeneral() {
        const jsonParams = ["Quantity", "RevenueCenter", "CostCenter", "Mol"];
        const divTable = document.getElementById("analysisVariancesGeneralDiv");

        let response = await fetch(`${window.location.origin}/analysisVariances`)
            .then((e) => e.json())
            .then((e) => {
                // Prepare data
                Object.keys(e).forEach(key => {
                    // Reorder
                    e[key] = { BUDGET: 0, mixStandard: 0, mixEffettivo: 0, CONSUNTIVO: 0, ...e[key] };
                });
                return e;
            });

        let table = document.createElement("table");
        table.classList.add("text-end", "table", "pb-4");
        table.innerHTML = document.getElementById("templateAnalysisVariances").innerHTML;
        divTable.appendChild(table);

        for (let i = 0; i < jsonParams.length; i++) {
            let data = response[jsonParams[i]];

            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.mixStandard - data.BUDGET);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.mixStandard);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(3).innerHTML = formatNumber(data.mixEffettivo - data.mixStandard);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(4).innerHTML = formatNumber(data.mixEffettivo);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(5).innerHTML = formatNumber(data.CONSUNTIVO - data.mixEffettivo);
            table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(6).innerHTML = formatNumber(data.CONSUNTIVO);
        }

        removePlaceholders(divTable);

        const labelData = ["RevenueCenter", "CostCenter", "Mol"]
        // Table
        option = {
            grid: {
                top: 15,
                bottom: 30,
                right: 15,
                left: 60
            },
            tooltip: {
                trigger: 'item',
                axisPointer: {
                    type: 'shadow'
                }
            },
            xAxis: {
                type: 'category',
                data: ["Ricavi", "Costi", "Mol"]
            },
            yAxis: {
                type: 'value',
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                }
            },
            dataset: {
                dimensions: ["name"].concat(Object.keys(response.Quantity)),
                source: [
                    { name: 'Ricavi', ...response.RevenueCenter },
                    { name: 'Costi', ...response.CostCenter },
                    { name: 'Mol', ...response.Mol },
                ]
            },
            series: [
                {
                    type: 'bar',
                },
                {
                    type: 'bar',
                },
                {
                    type: 'bar',
                },
                {
                    type: 'bar',
                }
            ]
        };

        barChartAnalysisVariancesGeneral.hideLoading();
        barChartAnalysisVariancesGeneral.setOption(option);
    }

    /**
    * Get analyses variances
    */
    async function getAnalysisVariancesMarket() {
        const jsonParams = ["Quantity", "RevenueCenter", "CostCenter", "Mol"];
        const jsonParamsIta = ["Quantità", "Ricavi", "Costi", "Mol"];
        const type = ["BUDGET", "mixStandard", "mixEffettivo", "CONSUNTIVO"];
        const currency = ["Euro", "Dollaro", "Yen"]
        const bodyModal = document.getElementById("modalAnalysisVariancesMarket").getElementsByClassName("modal-body")[0];
        let baseSerieOption = {
            type: 'treemap',
            leafDepth: 2,
            label: {
                show: true,
                position: 'insideTopLeft',
            },
            upperLabel: {
                show: true,
            },
            itemStyle: {
                borderColor: '#fff'
            },
            levels: [
                {
                    itemStyle: {
                        borderWidth: 0,
                        gapWidth: 5
                    }
                },
                {
                    itemStyle: {
                        gapWidth: 1
                    }
                },
                {
                    colorSaturation: [0.35, 0.5],
                    itemStyle: {
                        gapWidth: 1,
                        borderColorSaturation: 0.6
                    }
                }
            ],
            data: [],
        }

        let series = [];
        let nameLegend = [];

        let response = await fetch(`${window.location.origin}/analysisVariances/market`)
            .then((e) => e.json());


        jsonParams.forEach((param, index) => {
            type.forEach(type => {
                let data = [];
                Object.keys(response).forEach(key => {
                    let subData = { name: currency[parseInt(key) - 1], value: response[key][param][type], children: [] }

                    Object.keys(response[key].client).forEach(item => {
                        let tempsubData = { name: response[key].client[item].id, value: response[key].client[item].analysisVariances[param][type], children: [] };

                        Object.keys(response[key].client[item].article).forEach(product => {
                            tempsubData.children.push({ name: response[key].client[item].article[product].id, value: response[key].client[item].article[product].analysisVariances[param][type] })
                        });

                        subData.children.push(tempsubData);
                    });

                    data.push(subData);
                });
                baseSerieOption.data = data;
                baseSerieOption.name = `${jsonParamsIta[index]} ${type.toLowerCase()}`;
                nameLegend.push(baseSerieOption.name);
                series.push(JSON.parse(JSON.stringify(baseSerieOption))); // Deep copy
            });
        });

        // Table
        option = {
            grid: {
                top: 15,
                bottom: 15,
                right: 15,
                left: 15
            },
            tooltip: {
                formatter: function (info) {
                    let symbol = info.seriesName.search("Quantità") ? '€' : 'unità';
                    var value = isNaN(info.value) ? info.value : formatNumber(info.value, 0, 2);
                    var treePathInfo = info.treePathInfo;
                    var treePath = [];
                    for (var i = 1; i < treePathInfo.length; i++) {
                        treePath.push(treePathInfo[i].name);
                    }
                    return `<div class="tooltip-title">${treePath.join(' > ')}</div>
                    Vendite: <b>${value} ${symbol}</b>`
                }
            },
            legend: {
                type: 'scroll',
                data: nameLegend,
                selectedMode: 'single',
                itemGap: 5,
                borderRadius: 5
            },
            series: series
        };

        treemapChartAnalysisVariancesMarket.hideLoading();
        treemapChartAnalysisVariancesMarket.setOption(option);

        // Populate modal
        currency.forEach((market, index) => {
            let title = document.createElement("h5");
            title.textContent = market;
            title.classList.add("mb-0")
            bodyModal.appendChild(title);

            let table = document.createElement("table");
            table.classList.add("text-end", "table", "pb-4");
            table.innerHTML = document.getElementById("templateAnalysisVariances").innerHTML;
            bodyModal.appendChild(table);

            for (let i = 0; i < jsonParams.length; i++) {
                let data = Object.values(response)[index][jsonParams[i]];

                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(0).innerHTML = formatNumber(data.BUDGET);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(1).innerHTML = formatNumber(data.mixStandard - data.BUDGET);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(2).innerHTML = formatNumber(data.mixStandard);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(3).innerHTML = formatNumber(data.mixEffettivo - data.mixStandard);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(4).innerHTML = formatNumber(data.mixEffettivo);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(5).innerHTML = formatNumber(data.CONSUNTIVO - data.mixEffettivo);
                table.getElementsByTagName("tr").item(i + 1).getElementsByTagName("td").item(6).innerHTML = formatNumber(data.CONSUNTIVO);
            }
        });
    }

    /**
    * Format number to 123.456,789
    * @param {Number} number 
    * @param {Number} minimumFractionDigits 
    * @param {Number} maximumFractionDigits 
    * @returns {String} Stringa
    */
    function formatNumber(number, minimumFractionDigits = 2, maximumFractionDigits = 2) {
        return number.toLocaleString('de-DE', { minimumFractionDigits: minimumFractionDigits, maximumFractionDigits: maximumFractionDigits });
    }

    /**
    * Rimuove tutti i placeholder/spinner all'interno dell'elemento, compresi i figli
    * 
    * @param {HTMLElement} elem
    */
    function removePlaceholders(elem) {
        for (let item of elem.querySelectorAll('.placeholder , .placeholder-wave, .placeholder-glow, .spinner-border')) {
            item.classList.remove('placeholder', 'placeholder-wave', 'placeholder-glow', 'spinner-border')
        }
    }

</script>
{% endblock %}