{% extends "base.html" %}
{% block title %} ▽ | CHI SIAMO {% endblock %}
{% block content %}
<div class="container text-center">
    <h1> Team </h1>
    <div class="row row-cols-2 row-cols-md-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Colombo Gabriele</h5>
                    <p class="card-text">Mat. <b></b></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cremonesi Andrea</h5>
                    <p class="card-text">Mat. <b>1074260</b></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Odajiu Romeo</h5>
                    <p class="card-text">Mat. <b></b></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rota Andrea</h5>
                    <p class="card-text">Mat. <b>1054128</b></p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}