{% extends "base.html" %}
{% block title %} ▽ | CHI SIAMO {% endblock %}
{% block content %}
<div class="container text-center">
    <h1 class="titolo"> CHI SIAMO </h1>
    <div class="row">
        <div class="col-md-4">
            <img class="team-member" src="/static/images/client.png">
            <p class="nome"><b>Rota Andrea</b> </p>
            <p> NR MATR => ****</p>
        </div>
        <div class="col-md-4">
            <img class="team-member" src="/static/images/client.png">
            <p class="nome"><b>Cremonesi Andrea</b> </p>
            <p> NR MATR => ****</< /p>
        </div>
        <div class="col-md-4">
            <img class="team-member" src="/static/images/client.png">
            <p class="nome"><b>Colombu Gabriele</b> </p>
            <p> NR MATR => ****</< /p>
        </div>
        <div class="col-md-4">
            <img class="team-member" src="/static/images/client.png">
            <p class="nome"><b>Odajiu Romee</b> </p>
            <p> NR MATR => ****</< /p>
        </div>

    </div>
</div>
{% endblock %}